server:
  port: 8081

spring:
  application:
    name: gradpath

  datasource:
    url: jdbc:mysql://localhost:3306/gradpath?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true